@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@media screen and (max-width: 480px) {
    .herologo {
        width: 325px;
        height: 85px;
    }
    .colhero {
        margin-top: -480px;
    }
}

@media screen and (max-width: 1080px){
    .colhero {
        margin-top: 350px;
    }
}

@media screen and (min-width: 992px) {
    .colhero {
        margin-top: 150px;
    }
}